// variables.scss

// Colors
$mint-green: #32Fca7;
$mint-blue-green: #329d9c;
$pale-mint-green: #cff4d2;
$dark-grey: #aaa;
$blue: blue;
$yellow: yellow;

$accent-main: $mint-green;
$accent-dark: $mint-blue-green;
$accent-light: $pale-mint-green;

// Fonts
