// variables.scss

// Colors
$mint-green: #32Fca7;
$light-mint-green: #97fdd2;
$dark-mint-green: #03c573;
$darker-mint-green: #21a76f;
$darkest-mint-green: #197c53;
$green-mint-green: #32fc7f;  // greener
$greener-mint-green: #32fc56;  // even greener
$blue-mint-green: #32fccf;
$bluer-mint-green: #32fcf8;

$pale-mint-green: #d1ffec;
$paler-mint-green: #d8ede4;  // some grey

// Greys
$lightest-grey: #f5f5f5;
$light-grey: #dedede;
$grey: #b5b5b5;
$dark-grey: #858585;
$darkest-grey: #4a4a4a;


// Backgrounds
$bg-alt: $lightest-grey;
$bg-dark: $light-grey;

// Text Colors


// Accents
$accent-main: $mint-green;
$accent-dark: $green-mint-green;
$accent-darker: $dark-mint-green;
$accent-light: $light-mint-green;
$accent-lighter: $paler-mint-green;

// Fonts
