// contact.scss

// @use '../../styles';

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pageContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;
    margin: auto;
}

.leftContainer {
    z-index: 1;
    display: flex;
    h2 { margin: auto; }
    width: 35%;
}

.rightContainer {
    width: 65%;
    z-index: 1;
    margin-top: 10vh;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 95vw;
    margin: 0 auto 30px auto;
    z-index: 1;
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.textInputs {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.inputBox {
    display: inline-flex;
    align-items: flex-start;
}

.errorMssg {
    width: 75%;
    text-align: right;
}
