// home.scss

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-bottom: 5vh;
}

.pageContent {
    width: 83vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topContainer {
    // border-style: solid;
    z-index: 1;

    .titleContainer {
        h1 {
            margin: 0;
            margin-bottom: 2vh;
        }
    }
    .subHeader {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        .subHeaderLeft {
            h3 {
                margin: 0;
                margin-bottom: 4.5vh;
            }
            .links {
                display: inline-flex;
                align-items: center;
            }
            max-width: 900px;
            min-width: 570px;
        }
        .subHeaderRight {
            align-self: flex-end;
            text-align: right;
            width: 45%;
            h4 {}
            #intro { margin-bottom: 25px; }
            min-height: 230px;
        }
    }
}

.bottomContainer {
    // border-style: solid;
    margin-top: -10vh;
    // margin-bottom: 12vh;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    img { width: 30vw; }
    .scrollDownButton {}
    .dummy { width: 30vw; }
}

.page::before {
    content: "";
    background-image:
        linear-gradient(transparent, white 80%),
        url('/business2.svg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.06;
}

/*-----------------------------------------*/

@media (max-width: 1600px) {
    .page {
        padding: 0 6vw;
    }
    .topContainer {
        padding-top: 10vh;
    }
    .subHeader {
        flex-direction: column;
        margin: auto;
        width: 80%;
        .subHeaderLeft {
            // width: 100% !important;
            // max-width: 100% !important;
        }
        .subHeaderRight {
            margin-top: 6vh;
            text-align: left !important;
            width: 100% !important;
        }
    }
    .bottomContainer {
        img {
            opacity: 0;
            height: 10vh;
        }
    }
}
