// home.scss

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageContent {
    width: 83vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topContainer {
    z-index: 1;
}

.titleContainer {
    h1 {
        margin: 0;
        margin-bottom: 2vh;
    }
}
.subHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.subHeaderLeft {
    h3 {
        margin: 0;
        margin-bottom: 4.5vh;
    }
    .links {
        display: inline-flex;
        align-items: center;
    }
    max-width: 900px;
    min-width: 570px;
}

.subHeaderRight {
    z-index: 1;
    align-self: flex-start;
    text-align: left;
    width: 45%;
    #intro { 
		margin-bottom: 25px; 
	}
    min-height: 230px;
	margin-bottom: 120px;
}

.bottomContainer {
    margin-top: -10vh;
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
}

.page::before {
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.04;
}

/*-----------------------------------------*/

@media (max-width: 1600px) {
    .page {
        padding: 0 6vw;
    }
    .subHeaderRight {
        margin-top: 6vh;
        text-align: left !important;
        width: 100% !important;
    }
    .bottomContainer {
        img {
            opacity: 0;
            height: 10vh;
        }
    }
}

@media (max-width: 1440px) {
    .page { height: auto; }
    .pageContent { height: auto; padding: 8vh 0; }
    .bottomContainer { margin-top: -6vh; }
}
@media (max-width: 1250px) { .bottomContainer { margin-top: -10vh; }}

@media (max-width: 730px) {
    .subHeaderLeft {
        min-width: 0px !important;
        max-width: 730px !important;
    }
}

@media (max-width: 540px) {
    #subHeaderTitle {
        height: 2em;
    }
}
