// home.scss

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 89vw;
    margin: auto;

    .topContainer {
        margin-top: -3vh;
        .titleContainer {
            h1 {
                margin: 0;
                margin-bottom: 2vh;
            }
        }
        .subHeader {
            display: inline-flex;
            justify-content: space-between;
            .subHeaderLeft {
                h3 {
                    margin: 0;
                    margin-bottom: 4.5vh;
                }
                .links {
                    width: 60%;
                    display: inline-flex;
                    align-items: center;
                }
            }
            .subHeaderRight {
                text-align: right;
                width: 45%;
                h4 {}
                #intro { margin-bottom: 25px; }
            }
        }
    }

    .bottomContainer {
        margin-bottom: 15vh;
        display: flex;
        justify-content: center;
    }
}

/*-----------------------------------------*/
