// progLang.module.scss

.page {
}

.pageContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    align-items: center;
    width: 85vw;
    margin: auto;
    margin-top: 15vh;
}

.leftContainer {
    margin-bottom: 50vh;
}

.rightContainer {
    height: 100vh;
    width: 65%;  // this is 75vw * 0.65 = 48.75vw
    z-index: 1;
    margin-bottom: 15vh;
}

/*-----------------------------------------*/

.progLangObjects {
    padding-left: 80px;
}


@media (max-width: 1600px) {
    .page {
        margin-bottom: 10vh;
    }
    .pageContent {
        flex-direction: column;
        margin-top: 0;
    }
    .leftContainer {
        margin-top: 0vh;
        margin-bottom: 0vh;
        text-align: center;
        width: 70%;
    }
    .rightContainer { width: 80%; height: auto; margin-bottom: 10vh; }
    .progLangObjects { padding-left: 0; }
}

@media (max-width: 480px) {
    .rightContainer { width: 95%; }
}
