// background.scss - for background rectangles

@use './colors';

@mixin backgroundRectangle($rect-bg-color, $rotate) {
    background-color: $rect-bg-color;
    transform: rotate($rotate);
    position: absolute;
    height: 175vh;
    width: 180vw;
    margin-left: -50vw;
}

@mixin rectangleContainer {
    overflow: clip;
    position: absolute;
    width: 99vw;
    height: 295vh;
    margin: -50vh auto 0 0.4vh;
    z-index: 0;
}

//~~~~~~~~~~ Home Page ~~~~~~~~~~~~~~~~~~~~~

.bg-home-page-email-pattern {
    height: 120vh;
    margin-bottom: -20vh;
}


//~~~~~~~~~~ Project Page ~~~~~~~~~~~~~~~~~~

.rect-container-project-page {
    @include rectangleContainer;
    z-index: 0;
    margin-top: -80vh;

}

.rect-project-page-1 {  // top layer
    @include backgroundRectangle(colors.$bg-rect-project-page-1, -13.65deg);
    z-index: 2;
    margin-top: 80vh;
}

.rect-project-page-2 {  // bottom layer
    @include backgroundRectangle(colors.$bg-rect-project-page-2, -22.7deg);
    z-index: 0;
    height: 168vh;
    width: 200vw;
    margin-top: 88vh;
}

//~~~~~~~~~~ Contact Page ~~~~~~~~~~~~~~~~~~

.rect-container-contact-page {
    @include rectangleContainer;
    height: 150vh;
    padding-top: 30px;
    margin-left: 0;
    width: 99.2vw;
}

.rect-contact-page-1 {  // top layer
    @include backgroundRectangle(colors.$bg-rect-contact-page-1, 49.52deg);
    margin-left: 8vw;
    margin-top: 50vh;
}

.rect-contact-page-2 {  // bottom layer
    @include backgroundRectangle(colors.$bg-rect-contact-page-2, -13.65deg);
    z-index: 1;
    height: 165vh;
    width: 220vw;
    margin-top: 35vh;
    overflow: clip;
}

.rect-contact-page-3 {  // bottom layer
    @include backgroundRectangle(colors.$bg-rect-contact-page-3, -18.17deg);
    z-index: -1;
    height: 165vh;
    margin-top: 35vh;
}
