// buttons.scss

@use './colors';

@mixin button {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    &:hover {
        h4 { font-weight: 600; }
    }
}

// ~~~~~~~~~~~~~~~~~~~~ Home Page Buttons ~~~~~~~~~~~~~~~~~~~~~~

.linkButton {
    @include button;
    flex-direction: row;
    &:hover {
        .icon { color: colors.$fg-accent-alt; }
        h4 {
            font-weight: 500;
            opacity: 70%;
        }
    }
    margin-right: 3vw;
    width: 180px;
    z-index: 1;
}

.scrollDown {
    z-index: 1;
    @include button;
    &:hover { .icon { color: colors.$fg-accent-alt; }}
}

// ~~~~~~~~~~~~~~~~~~~ Contact Page Buttons ~~~~~~~~~~~~~~~~~~~~

.backToTop {
    @include button;
    margin-bottom: 40px;
}

.websiteSrcCode {
    @include button;
    flex-direction: row;
    justify-content: flex-end;
    h4 {
        margin-left: -10px;
        width: 400px;
    }
    width: 380px;
    margin-right: -15px;
}

.submitButton {
    @include button;
} .sendEmail {
    &:hover {
        input {
            color: colors.$fg-accent-alt;
            font-weight: 600;
        } #plane {
            transform: translate(30px, -60px);
        }
    }
}
#plane {
    transition: transform 0.5s;
}


input[type=submit] {
    background: none;
    cursor: pointer;
    width: 236px;
    display: inline-flex;
    justify-content: center;
}
