// cards.scss - for all card objects

@use './colors';
@use './mixins';

@mixin focus($card-bg-color) {
    box-shadow: 0px 0px 0px 7px $card-bg-color;
}

@mixin card($card-bg-color) {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 19px;
    box-shadow: 0px 0px 5px 5px $card-bg-color;
    background-color: $card-bg-color;
    z-index: 5;
}

//~~~~~~~~~~~~~~~~~ Project Cards ~~~~~~~~~~~~~~~~~~~~

@mixin projectCard {
    @include card(colors.$bg-card-project-page);
    margin-bottom: 40px;
}

.projectCard { @include projectCard; }

.projectCard-focus {
    @include projectCard;
    @include focus(colors.$bg-card-project-page);
    margin-left: -40px;
    margin-right: 40px;
    box-shadow: 0px 0px 15px colors.$grey-500;
}

.cardImage {
    padding: 5px 5px 0 5px;
    margin: 20px 20px 20px 10px;
    position: relative;
    a { img {
            width: 332px;
            height: 240px;
            border-radius: 19px;
            border-style: solid;
            border-color: colors.$black-800;
    }}
    &:hover {
        a {img { filter: opacity(40%);}}
    }
}

.cardImage-focus {
    a { img {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }}
}

.cardInfo {
    display: inline-block;
    width: auto;
    margin: 40px 20px 20px 15px;
    a {  /* project title link */
        display: inline-block;
        h4 { margin-bottom: 10px; }
    }
}

#openProject {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    color: colors.$fg-card-open-project;
}

@media (max-width: 1600px) {
    .projectCard-focus {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

//~~~~~~~~~~~ Programming Language Cards ~~~~~~~~~~~~~

@mixin progLangCard {
    @include card(colors.$bg-card-progLang-page);
    margin-bottom: 4vh;
    border-radius: 16px;
    flex-direction: column;
    &:hover { cursor: pointer; }
    @include mixins.noSelect;
}

.progLangCard {
    @include progLangCard;
    &:hover { @include focus(colors.$bg-card-progLang-page) }
}

.progLangCard-focus {
    @include progLangCard;
    @include focus(colors.$bg-card-progLang-page);
    margin-left: -40px;
    margin-right: 40px;
}

.collapsedLangCard {
    display: inline-flex;
    align-items: center;
    height: 85px;
}

.language {
    min-width: 14vw;
    display: inline-flex;
    margin-left: 0.8vw;
    align-items: center;
}

.langText {
    position: absolute;
    margin-left: 4.5vw;
    margin-top: auto;
    margin-bottom: auto;
}

.langIcons {
    width: 50px;
    filter: invert(98%) sepia(0%) saturate(1%) hue-rotate(165deg) brightness(94%) contrast(88%);
    margin-right: 20px;
}

.skillLevelOutline {
    display: flex;
    flex-direction: row;
    width: 30vw;
    border-radius: 16px;
    background-color: colors.$bg-card-progLang-skill-bg;
    height: 37px;
    margin-right: 3.3vw;
}

.skillLevelBar {
    background-color: colors.$bg-card-progLang-skill;
    border-radius: 16px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.extendedLangCard {
    margin: 0 1.5vw 1.5vw 1.5vw;
    overflow-y: hidden;
    width: 95%;
}

.proficiencyIndicator {
    text-align: right;
    margin: 0 2vw 1.5vw 0;
}

.proficiencyIndicatorAlt {
    text-align: right;
    margin-right: 2vw;
    display: none;
}

.langDescription {
    align-self: flex-start;
}

@media (max-width: 1650px) {
    .langText { margin-left: 6vw; }
}
@media (max-width: 1600px) {
    .progLangCard {
    }
    .collapsedLangCard {
        justify-content: space-between;
        width: 100%;
    }
    .language {
        margin-left: 2vw;
    }
    .skillLevelOutline {
        // width: 40vw;  // cant change this yet bc hardcoded at 30vw
        margin-left: 5vw;
    }
    .langText { margin-left: 6vw; }
    .progLangCard-focus {
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media (max-width: 1250px) {
    .collapsedLangCard { height: 75px; }
    .skillLevelOutline { height: 34px; }
    .cardImage {
        a { img {
            width: 200px;
            height: 130px;
        }}
    }
    .cardInfo { margin: 20px !important; }
    .langText { margin-left: 8vw; }

}
@media (max-width: 970px) {
    .cardImage { display: none; }
    .langText { margin-left: 10vw; }
}
@media (max-width: 850px) {
    .collapsedLangCard { height: 65px; }
    .skillLevelOutline { height: 27px; }
}
@media (max-width: 730px) {
    .skillLevelOutline { display: none; }
    .proficiencyIndicator { display: none; }
    .proficiencyIndicatorAlt { display: unset !important; }
    .collapsedLangCard { height: 55px; }
    .langText { margin-left: 12vw; }
    .extendedLangCard { margin-top: 10px; }
}
@media (min-width: 480px) { .projectCard:hover { @include focus(colors.$bg-card-progLang-page) }}
@media (max-width: 480px) {
    .projectCard-focus { box-shadow: 0px 0px 0px 7px colors.$bg-card-project-page; }
}
@media (max-width: 430px) { .langText { margin-left: 13vw; }}
@media (max-width: 380px) { .langText { margin-left: 55px; }}
@media (max-width: 350px) {
    .proficiencyIndicatorAlt { display: none !important; }
    .langText { margin-left: 60px; }
}
