// icons.scss - for all icon objects

@use './colors';

.icon {
    font-size: 66px;
    color: colors.$fg-icon-normal;
    user-select: none;
}

//~~~~~~~~~~~~~~~~~ Home Page Icons ~~~~~~~~~~~~~~~~~~~~

.linkIcons { margin-right: -10px; }
#github {}
#linkedIn {}
#resume {}

#down { margin-top: -30px; }
#circleDown { margin-top: -30px; }

//~~~~~~~~~ Programming Languages Page Icons ~~~~~~~~~~~~

.langIcons { user-select: none; }
#c { width: 65px; margin-left: -7px; }
#java { width: 45px; }
#python {}
#javascript {}
#latex { width: 75px; }
#htmlcss {}

//~~~~~~~~~~~~~~~~ Contact Page Icons ~~~~~~~~~~~~~~~~~~~

#caretRight {
    color: colors.$black-000;
}

#up {
    color: colors.$fg-icon-contact-page;
    margin-top: -70px;
}
#circleUp {
    color: colors.$purple;
    margin-top: -70px;
}

#plane {
    color: colors.$fg-icon-contact-page;
    margin-top: -50px;
}

#githubContact {
    color: colors.$fg-icon-contact-page;
}

.X {
    margin-top: 20px;
    color: colors.$fg-icon-contact-page;
    z-index: 2;
    font-size: 37px;
} .placeHolder {
    color: transparent !important;
}

@media (max-width: 1250px) {
    .icon { font-size: 60px }
    #down { font-size: 50px; }
    #c { width: 60px; margin-left: -7px; }
    #java { width: 45px; }
    #python { width: 50px; }
    #javascript { width: 50px; }
    #latex { width: 65px; }
    #htmlcss { width: 50px; }
    .X { font-size: 30px; }
}
@media (max-width: 850px) {
    .icon { font-size: 50px; }
    #down { font-size: 40px; }
    #c { width: 50px; margin-left: -7px; }
    #java { width: 35px; }
    #python { width: 40px; }
    #javascript { width: 40px; }
    #latex { width: 65px; }
    #htmlcss { width: 40px; }
    .X { font-size: 25px; }
}
@media (max-width: 730px) {
    .icon { font-size: 35px; }
    #down { font-size: 30px; }
    #c { width: 47px; margin-left: -7px; }
    #java { width: 32px; }
    #python { width: 37px; }
    #javascript { width: 37px; }
    #latex { width: 60px; }
    #htmlcss { width: 37px; }
    .X { font-size: 25px; }
}

@media (max-width: 500px) {
    #c { width: 44px; margin-left: -7px; }
    #java { width: 29px; }
    #python { width: 34px; }
    #javascript { width: 34px; }
    #latex { width: 50px; }
    #htmlcss { width: 34px; }
}
