// inputs.scss

@use './colors';

@mixin input {
    border-style: none;
    background-color: colors.$bg-card-contact-page;
    margin-top: 10px;
    border-radius: 6px;
    padding: 15px;
    padding-left: 25px;
    margin: 13px;
    &:focus {
        outline: none;
        &::placeholder {
            color: transparent;
        }
    }
}

input {
    @include input;
    font-family: inherit;
}
#name {
    width: 50%;
}
#email {
    width: 100%;
}

textarea {
    @include input;
    width: 100%;
    resize: none;
}

@media (max-width: 1600px) {
    #name { width: 100%; }
}
