// typography.scss

@use './colors';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Font Variables
$montserrat: 'Montserrat', sans-serif;
$inter: 'Inter', sans-serif;
$work-sans: 'Work Sans', sans-serif;

$title-font: $inter;
$body-font: $work-sans;


h1 {  // title: "Mathew Kramsch"
    font-family: $title-font;
    font-weight: 800;
    font-size: 150px;
    margin: 0;
    display: flex;
    flex-direction: row;
    user-select: none;
} #firstName {
    background: linear-gradient(90deg, colors.$fg-accent-main, colors.$mint-green-300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {  // page-title: "projects", "contact me"
    font-family: $title-font;
    font-weight: 700;
    font-size: 80px;
    color: colors.$fg-page-title;
    user-select: none;
} #contactme {
    background: linear-gradient(45deg, colors.$fg-accent-main, colors.$mint-green-300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {  // subtitle: "Full-Stack Software Developer"
    font-family: $title-font;
    font-weight: 700;
    font-size: 60px;
    color: colors.$fg-page-title;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        opacity: 75%;
    }
}

h4 {  // links, view projects, back to top, aboutInfo, projectTItle
    font-family: $body-font;
    font-weight: 500;
    font-size: 30px;
    margin: 0;
    z-index: 1;
    color: colors.$fg-text-link;
    display: inline-flex;
    align-items: center;
    user-select: none;
} #projectTitle {
    &:hover { font-weight: 600; }
}
.italic { font-style: italic; }  // view projects, back to top,
.description { color: colors.$fg-text-description !important; }
.aboutInfo {
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        opacity: 75%;
    }
}
input[type=submit] {
    font-family: $body-font;
    font-weight: 500;
    font-size: 30px;
    margin: 0;
    z-index: 1;
    color: colors.$fg-text-contact-page;
}


p {  // project description, progLang description
    font-family: $body-font;
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    color: colors.$fg-text-description;
}


a {  // links, Project Title link, view source code link
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.inputText {
    font-weight: 400;
    font-size: 20px;
    font-family: $body-font;
    color: colors.$fg-text-contact-page;
}


.srcCodeLink {  // View Source Code
    font-style: italic;
    font-weight: 400;
    color: colors.$fg-text-proficiency;
    display: inline-block;
    &:hover {
        cursor: pointer;
        font-weight: 500;
    }
}

.footerText {
    color: colors.$fg-text-contact-page;
}

.errorMssgText {
    color: colors.$fg-icon-contact-page;
}

#openProject {
    font-size: 20px;
    font-weight: 500;
}

#copyRight {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: -3px;
    margin-right: 10px;
    color: colors.$fg-text-contact-page;
}

.proficiency {
    font-size: 20px;
    font-weight: 500;
    color: colors.$fg-text-proficiency;
}
