// footer.scss

@use '../../styles';

.page {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pageContent {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*-----------------------------------------*/

.icon {
    width: 66px;
    color: #cacaca;
}

.backToTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    h4 {
        margin: 0;
        z-index: 1;
        font-style: italic;
    }
    #up { margin-top: -75px; }
} .backToTop:hover {
    cursor: pointer;
    h4 { font-weight: 800; }
    #up { color: styles.$dark-grey; }
}

.pageContent {
    a {  /* source code link */
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        h4 { margin-left: -10px; }  /* view source code text */
    } #github { width: 60px; }
    h4 {}  /* copyright info */
}
