/* contact.module.css */

.page {
}

.pageContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftContainer {
}

.rightContainer {
}

/*-----------------------------------------*/

.leftContainer > h1 {
}

.contactInfo {
} .contactInfo > p {
} .contactInfo > p > b {
}
