/* projects.module.css */

.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pageContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    margin: auto;
}

.leftContainer {
} .leftContainer > h1 {
}

.rightContainer {
    width: 65%;
}

/*-----------------------------------------*/

.projectCards {
    margin-top: 75%;
}

.card {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    border-radius: 19px;
    background: #e7e7e7;
}

.cardImage {
    padding: 5px 5px 0 5px;
    margin: 20px 20px 20px 10px;
} .cardImage > a {
} .cardImage > a > img {
    width: 332px;
    height: 240px;
    border-radius: 19px;
}

.cardInfo {
    margin-top: 40px;
    margin-right: 20px;
} .cardInfo > a {
    text-decoration: none;
    color: black;
} .cardInfo > a > h3 {  /* project title link */
    padding: 0;
    margin: 0;
} .cardInfo > p {
} .cardInfo > a > p {  /* project source code link */
}
