// projects.scss

@use '../../styles';

.page {
    background-color: styles.$bg-alt;
}

.pageContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    width: 75vw;
    margin: auto;
}

.leftContainer {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    h3 { margin: auto; }
}

.rightContainer {
    width: 65%;
}

/*-----------------------------------------*/

.projectCards {
    margin-top: 36vh;
    margin-bottom: 36vh;
}

.card {
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    border-radius: 19px;
    background: #e7e7e7;
}

.cardImage {
    padding: 5px 5px 0 5px;
    margin: 20px 20px 20px 10px;
    a { img {
            width: 332px;
            height: 240px;
            border-radius: 19px;
    }}
}

.cardInfo {
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 15px;
    a {
        text-decoration: none;
        color: black;
        h4 { margin-bottom: 10px; }  /* project title link */
    }
    p { a {  /* project source code link */
        font-style: italic;
        font-weight: 400;
    }}
}
